body {
  min-height: 100vh;
  margin: 0;
}

nav > a {
  text-decoration: none;
  border-radius: 5px;
  padding: 15px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* footer {
  text-align: center;
  margin: 15px 0 25px 0;
  padding-bottom: 10px;
} */